@import url(variables.css);


/* MENÚ MODO MOVIL */
.header-Large-superior{
    display: none;
}
.header-Large-inferior{
    display: none;
}
nav{
    display: none;
}
.contenedor-bienvenida{
    display: none;
}
.nuestras-tiendas{
    display: none;
}
.mejorar-encuensta{
    display: none;
}
.mejorar-experiencias{
    display: none;
}
.opinion{
    display: none;
}

/* APLICANDO ESTILOS AL HEADER MOVIL */

    /* FONDO OSCURO MENU ABIERTO EN EL BODY */
#sidebar-fondo{

    background: black;
    position:fixed ;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 500;
    opacity: 0;
    width: 0;
    cursor: pointer;
}
#sidebar-fondo.menuFondo{
    opacity: 0.7;
    width: 100vw;
    transition: opacity ease-in 0.5s;
    display: block;

}

.barra-header-movil{
    width: 100%;
    height: 50px;
    background-color: var(--color_menu);
    z-index: 900;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: inset 0px -10px 10px var(--color_menu_hover);
    position: fixed;
    top: 0px;
    
 } 
 .barra-header-movil .logo-movil{
    font-size: 1.6REM;
    font-weight: 700;
    color: #f0f0f6;
}

.barra-header-movil a i{
    color: #f0f0f6;
    font-size: 30px;
    padding-right: 15px;
}
.barra-header-movil a i:hover{
    cursor: pointer;
}

/* MENU ABIERTO MOVIL */
#menuMobil-id{
    top: 0;
    width: 0;
    height: 100vh;
    background-color: #151719;
    position: fixed;
    left: -100vw; 
    display: flex;
    transition: all 0.5S ease-in-out;
    opacity: 1;
    z-index: 700;
    box-shadow: inset 0px -10px 20px #fff;
   
}

#menuMobil-id.open{
width: 100vw;
left: 0;
transition: all 0.5s ease;

}

.menuMobil{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    margin: auto; 
}

@media only screen and (min-width: 600px) {
    #menuMobil-id.open {
      width: 420px;
      transition: all 0.7s ease-in-out;
    }
  }

@media only screen and (min-width: 912px) {
    #menuMobil-id.open {
        display: none;
    }
    #sidebar-fondo.menuFondo{
        display: none;
    }

    .barra-header-movil{
        display: none;
    }

    .linea-superior{
        width: 100vw;
        height: 3px;
        background-color:var(--color_menu);
    }
    .flash{
        border-radius: 80%;     
        border: 1px solid #fff;
        animation: luz 3s;
    }
    
    @keyframes luz {
    
        to{
            transform:translateX(0px);
        }
        from{
            transform:translateX(-1800px);
        }
        
    }
    
    .header-Large-superior{
        display: flex;
        justify-content: right;
        padding-right: 18px;
        width: 100vw;
        height: 25px;
        background:#333333;
        font-size: 0.7rem;
        font-weight:500;
        letter-spacing: 0.4px;
        position: sticky;
        top: 0;
        z-index: 2;
    }
    
    .header-Large-superior ul {
        height: 100%;
        display: flex;
        justify-content:right;
        align-items: center;
    }
    .header-Large-superior ul li{
        color: rgb(214, 221, 221);
    
    }
    .header-Large-superior ul li a{
        color: var(--color_font_encabezado);
        text-decoration: none;
        margin: 12px;
    }      
    
    .header-Large-superior ul li a:hover{
        text-decoration: underline;
    }
    
    .header-Large-inferior{
        background-color:var(--color_font_encabezado) ;
        background-color:var(--color_font_encabezado_2);
        height: 90px;
        width:100vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .header-Large-inferior .logo{
        width: 25%;
        height: 100%;   
    }
    .header-Large-inferior .logo a{
        font-family: var(--font_logo);
        color: var(--color-logo);
        background-color: var(--color_fondo_logo);
        box-shadow: 0px 0px 5px black;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 5rem;
        border-radius:0px 50px 50px 0px ;
    }

    .header-Large-inferior .logo a:hover{
        background-color: var(--color_fondo_logo_hover);
    }
    
    .header-Large-inferior h1{
        font-size: 2.2rem;
        line-height:34px;
        width: 50%;
        height: 100%;
        color: var(--color_menu);
        display: flex;
        align-items: center;
        text-align: center;
        text-shadow: 0px 0px 8px gray;
    }
    
    .header-Large-inferior .contenedor-inicio-sesion{
        font-size: 35px;
        width: 25%;
        height: 100%;
        color:var(--color_menu);
        display: flex;
        align-items: center;
        justify-content: center;
       
    }
    
    .header-Large-inferior .contenedor-inicio-sesion a{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header-Large-inferior .contenedor-inicio-sesion a i{
        height: 100%;
        padding: 0 25px; 
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .header-Large-inferior .contenedor-inicio-sesion  a span{
    height: 100%;
    font-family: var(--font_sub_menu);
    font-size: 1.2rem;
    font-weight: 700;
    padding-right: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    }

    /* MENSAJE DE OFERTA AL INICAR SECCIÓN */
.inicio-sesion-oferta{
    font-size: 14px;
    text-align: center;
    width: 140px;
    height: 80px;
    background-color: rgba(230, 230, 74, 0.928);
    top: 100px;
    box-shadow: 0px 0px 5px black;
    border-radius: 20px;
    position:absolute;
    z-index: 100;
    padding: 0 5px;

    animation: inicio_oferta 2s 5s forwards;
    visibility: hidden;
    opacity: 0;
}
 .inicio-sesion-oferta:before{
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    border-right: 12px solid transparent;
    border-left:12px solid transparent;
    border-bottom:18px solid rgba(230, 230, 74, 0.946);
    top: -13px;
    left: 61px;
   

} 
.inicio-sesion-oferta p{
   line-height: 1;
   margin-top: 10px;
   margin-bottom: 5px;
}

.contenedor-inicio-sesion #inicio_sesion_chek + label{
    position: absolute;
    top: 153px;
    font-size: 10px;
    padding: 3px 6px;
    color: #fff;
    background-color:var(--color_menu);
    border-radius: 4px;
    z-index: 110;

    animation: inicio_oferta 2s 5s forwards;
    visibility: hidden;
    opacity: 0;
}

.header-Large-inferior #inicio_sesion_chek + label:hover{
background-color:var(--color_menu_hover) ;
cursor: pointer;
}
.header-Large-inferior #inicio_sesion_chek {
    display: none;
}

#inicio_sesion_chek:checked + label, #inicio_sesion_chek:checked ~ .inicio-sesion-oferta{
    display: none;
}

@keyframes inicio_oferta {
    20%{
        transform: translateY(10px);
      
    }
    30%{
        transform: translateY(-10px);
     
    }
    40%{
        transform: translateY(10px);
      
    }
    50%{
        transform: translateY(-10px);
      
    }
    60%{
        transform: translateY(10px);
      
    }
    100%{
        visibility: visible;
        opacity: 1;
    }
}

/* MENSAJE MODAL DE BINVENIDA */
.contenedor-bienvenida{
    width: 100vw;
    height: 100vh;
    position:fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    animation: bienvenida 2s 1s forwards;
    visibility: hidden;
    opacity: 0;
    z-index: 30;
   
}
.label-bienvenida{
    width: 40px;
    height: 40px;
    line-height:30px;
    padding: 3px;
    text-align: center;
    font-size: 30px;
    position: absolute;
    background-color:darkred;
    color: #fff;
    right: -17px;
    top: -17px;
    border-radius: 50%;
    z-index: 40;

    animation: bienvenida 2s 1s forwards;
    visibility: hidden;
    opacity: 0;
}
.label-bienvenida:hover{
    cursor: pointer;
}

.contenedor-bienvenida .modal-bienvenida{
    width:40%;
    height: 350px;
    position: absolute;
    margin: auto;
    border-radius: 10px;
    background: url(../img/bonflex1.jpg) no-repeat bottom / cover;
    z-index: 30;
    
}

.modal-bienvenida .informacion-bienvenida{
    width: 50%;
    text-align: center;
    padding: 20px;
    font-size: 2.3rem;
    /* font-size: 2.5vw; */
    font-weight: 800;
    color:rgb(235, 247, 6);
    text-shadow: 0px 0px 5px black;
    -webkit-text-stroke-color: rgb(6, 6, 7);
    -webkit-text-stroke-width: 1px;
    line-height: 40px;
    background-clip: text;
   
}
.modal-bienvenida .informacion-bienvenida p b{
    color: #0527e4;
    font-size:3.5rem;
    -webkit-text-stroke-color: rgb(237, 237, 243);
    -webkit-text-stroke-width: 1px;
}
#cerrar-bienvenida{
    display: none;
}

#cerrar-bienvenida:checked ~ .contenedor-bienvenida {
   display: none;
}

@keyframes bienvenida {
    100%{
        visibility: visible;
        opacity: 1;
    }
}

.fondo-bienvenida{
    width: 100vw;
    height: 100vh;
     background-color: #1304267a;
}


/* VISITAS NUESTRAS TIENDAS */
.nuestras-tiendas{
    width: 420px;
    display: flex;
    flex-direction: column;
    background: #fff;
    position: fixed;
    box-shadow: 0px 0px 10px black;
    top: 0;
    left: 0;
    animation: nuestrasTiendas 2s 10s forwards;
    opacity: 0;
    visibility: hidden;
    z-index: 50;
}

.nuestras-tiendas .tiendas-1 .tienda-logo{
font-family:var(--font_logo);
font-size: 45px;
color: #0328f6;
padding-left: 10px;
}

.nuestras-tiendas .tiendas-1 .tienda-icon{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nuestras-tiendas .tiendas-1 p{
    text-align: center;
    line-height: 18px;
    width: 90%;
    font-size: 18px;
    font-weight: 500;
    padding-left: 10px;   
    color:var(--color_campo_form) ; 
}
.nuestras-tiendas .tiendas-1  span{
    color:  #009cfb;
    font-size: 70px;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -40px;
}
.nuestras-tiendas .tiendas-2{
    width: 100%;
    background-color: #4d0e9a;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.nuestras-tiendas .tiendas-2 .lbl_tienda_1{
    width: 100%;
    height: 100%;
    border-top: 1px solid var( --color_frame);
    background-color:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight:600;
    color: var(--color_campo_form);
    padding: 10px;
}
.nuestras-tiendas .tiendas-2 .lbl_tienda_1:hover{
    cursor: pointer;
    background-color:var(--color_body) ;
}
.nuestras-tiendas .tiendas-2 a{
    width: 100%;
    height: 100%;
    background:var(--color_menu);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight:600;
    padding: 10px;
}
.nuestras-tiendas .tiendas-2 a{
    color: #fff;
}
.nuestras-tiendas .tiendas-2 a:hover{
    background: var(--color_menu_hover);
}
#nuetrasTiendas{
    display: none;
}
#nuetrasTiendas:checked ~ .nuestras-tiendas{
    display: none;  
}

@keyframes nuestrasTiendas {
    100%{
        visibility: visible;
        opacity: 1;
    }
}


/* MEJORAR EXPERIENCIAS DE LA PAGINA WEB */
.mejorar-experiencias{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   top: 0;
   left: 0;
   position: fixed;
    z-index:10;

   animation: mejorarExperiencias 1s 10s forwards;
   visibility: hidden;
    opacity: 0;
}

.mejorar-experiencias .contenedor-experiencias{
    width: 350px;
    background-color:#fff ;
    position: fixed;
   box-shadow: 0px 0px 10px black;
   border-radius: 5px;
}
.mejorar-experiencias .lbl_experiencias_cerrar{
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 20px;
    cursor: pointer;
}
.contenedor-experiencias .experiencias-item1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.contenedor-experiencias .experiencias-item1 p{
    font-size: 1.5rem;
    padding: 50px 30px 20px;
    text-align: center;
    color: #3f3e3a;
    font-weight: 600;
}
.contenedor-experiencias .experiencias-item1 span{
    color: var(--color_campo_form);
    font-size: 20px;
}
.contenedor-experiencias .experiencias-item2{
    width: 100%;
    height: 70px;
    display: flex;
}

.experiencias-item2 .lbl_experiencias_1{
    width: 50%;
    height: 100%;
    padding: 10px;
    border-top: 1px solid var(--color_frame);
    display: flex;
    text-align: center;
    font-weight: 600;
    color: var(--color_campo_form);
}
.experiencias-item2 .lbl_experiencias_1:hover{
    cursor: pointer;
    background-color: var(--color_frame);
}
.experiencias-item2 .lbl_experiencias_2{
    background-color: #f0f0f6;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color_menu);
    color: #fff;
    font-weight: 600;
}
.experiencias-item2 .lbl_experiencias_2:hover{
    cursor: pointer;
    background-color: var(--color_menu_hover);
}
#chek_experiencias{
    display: none;
}
#chek_experiencias:checked ~ .mejorar-experiencias{
    display: none;
}

@keyframes mejorarExperiencias {
    100%{
        visibility: visible;
        opacity: 1;
    }
}

/* RESPONDER ENCUESTA  DE LA PAGINA WEB */
.mejorar-encuensta{
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    position: fixed;
    display: none;
    z-index: 10;
     
}
.contenedor-encuensta .btn-cerrar-encuesta-x{
position: absolute;
font-size: 25px;
margin-left: 500px;
margin-top: 10px;

background-color: transparent;
border: none;
cursor: pointer;
}
.mejorar-encuensta .contenedor-encuensta{
    width: 36vw;
    background-color: var(--color_fondo_logo);
    z-index: 200;
    box-shadow: 0px 0px 10px black;
    border-radius: 5px;
}
.contenedor-encuensta .margen-encuesta{
    padding: 10px 20px;
}
.contenedor-encuensta .logo-encuesta{
    font-family:var(--font_logo);
    font-size: 3rem;
    color: var(--color-logo);
}

.contenedor-encuensta .encuesta-overflow{
    overflow: auto;
    border: 1px solid var(--color_frame);
    height: 450px;
    padding: 10px 10px 35px 10px;
    background-color: #fff;
    box-shadow: inset 0px 0px 5px black;
    border-radius: 5px;
}

.contenedor-encuensta .encuesta-margin{
   margin-top: 100px;
}
.encuesta-1 .sup-indice,
.encuesta-2 .sup-indice{
    color: red;
}
.contenedor-encuensta .encuesta-1 p{
    font-size: 1.1rem;
    color: var(--color_campo_form);
    font-weight: 500;
    line-height: 20px;
    text-align: justify;
}

.contenedor-encuensta .encuesta-1 .parte-1{
  display: flex;
  justify-content: space-around;
  direction:rtl;
}
.contenedor-encuensta .encuesta-1 .parte-1 input{
    display: none;
}
.encuesta-1 .parte-1 label{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 50px;
    height: 40px;
    background-color: var(--color_frame);
    border-radius: 5px;
    top: 20px;
    position: relative;
   
}
.encuesta-1 .parte-1 label:hover{
    cursor: pointer;
    background-color: var(--color_menu_hover);
    border: 1px solid var(--color_sesion_texto);
    border-radius: 5px;
    font-size: 1.3rem;
} 

.encuesta-1 .parte-1 label:hover ~ label{
    background-color:var(--color_fondo_logo);

}

.encuesta-1 .parte-1 input[type=radio]:checked ~ label{
    background-color: var(--color_fondo_logo_hover);
    border: 1px solid var(--color_menu);

} 

.contenedor-encuensta .encuesta-1 .parte-1 #valoracion1,
.contenedor-encuensta .encuesta-1 .parte-1 #valoracion2,
.contenedor-encuensta .encuesta-1 .parte-1 #valoracion3,
.contenedor-encuensta .encuesta-1 .parte-1 #valoracion4,
.contenedor-encuensta .encuesta-1 .parte-1 #valoracion5,
.contenedor-encuensta .encuesta-1 .parte-1 #valoracion6{
    width: 50px;
    height: 40px;
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: var(--color_menu);
    color: #fff;
    font-size: 1.5rem;
    border-radius: 5px;
    border: 2px solid rgb(14, 10, 58);
    position: relative;
    margin-left: 20px;
}
.contenedor-encuensta .encuesta-1 .parte-1 #valoracion1::before,
.contenedor-encuensta .encuesta-1 .parte-1 #valoracion2::before,
.contenedor-encuensta .encuesta-1 .parte-1 #valoracion3::before,
.contenedor-encuensta .encuesta-1 .parte-1 #valoracion4::before,
.contenedor-encuensta .encuesta-1 .parte-1 #valoracion5::before,
.contenedor-encuensta .encuesta-1 .parte-1 #valoracion6::before{
    content:'Valoración';
    position: absolute;
    font-size: 0.8rem;
    color: var(--color_campo_form);
    top:-24px;
    font-weight: 700;

}
.contenedor-encuensta .encuesta-1 .parte-1.insatisfecho,
.contenedor-encuensta .encuesta-1 .parte-1 .satisfecho{
    position: relative;
}
.contenedor-encuensta .encuesta-1 .parte-1 .satisfecho:before{
content: "Satisfecho";
position: absolute;
font-size: 0.8rem;
font-weight: 500;
color: var(--color_campo_form);
letter-spacing: 1px;
top: 45px;
}

.contenedor-encuensta .encuesta-1 .parte-1 .insatisfecho:before{
    content: "insatisfecho";
    position: absolute;
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--color_campo_form);
    letter-spacing: 1px;
    top: 45px;
    margin-left:15px ;
}


/* PARTE 2 - PREGUNTAS DE LA ENCUESTA 2 */
.contenedor-encuensta .encuesta-2 .parte-2{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.contenedor-encuensta .encuesta-2 p{
    font-size: 1.1rem;
    color: var(--color_campo_form);
    font-weight: 500;
    line-height: 20px;
    text-align: justify;
}

.contenedor-encuensta .encuesta-2 .parte-2 label{
    justify-content:center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    top: 20px;
    position: relative;
}

.encuesta-2 .parte-2 label .radioBottom{
    position: absolute;
    width: 25px;
    height: 25px;
    color: var(--color_campo_form);
    border-radius: 50px;
    border: 2px solid var(--color_sesion_texto);
    cursor: pointer;
    left: 0px;
    top: 0px;
}
.encuesta-2 .parte-2 label:hover input ~ .radioBottom{
    background: radial-gradient(var(--color_fondo_logo) 50%, black 50%,white 50%);
}
.encuesta-2 .parte-2 label .radioBottom:hover{
    background: radial-gradient(var(--color_fondo_logo) 50%, black 50%,white 50%);
}

.encuesta-2 .parte-2 label input[type=radio]:checked ~ .radioBottom{
    background: radial-gradient(var(--color_menu_hover) 50%, black 50%,white 50%);
    border: 2px solid var(--color_sesion_texto);

} 
.contenedor-encuensta .encuesta-2 .parte-2 input{
    display: none;
}
.encuesta-2 .parte-2 .uno::before,
.encuesta-2 .parte-2 .dos::before,
.encuesta-2 .parte-2 .tres::before,
.encuesta-2 .parte-2 .cuatro::before,
.encuesta-2 .parte-2 .cinco::before,
.encuesta-2 .parte-2 .seis::before,
.encuesta-2 .parte-2 .siete::before,
.encuesta-2 .parte-2 .ocho::before{
    position: absolute;
    width: 395px;
    left: 35px;
    color: var(--color_campo_form);
    font-weight: 500;
    cursor:pointer;
}
.encuesta-2 .parte-2 .uno::before{
    content: 'Hacer seguimiento de mi orden';
}
.encuesta-2 .parte-2 .dos::before{
    content: 'Hacer un comentario o reclamo';
}

.encuesta-2 .parte-2 .tres::before{
    content: 'Revisar si un producto está disponible en tienda';
}

.encuesta-2 .parte-2 .cuatro::before{
    content: 'Comprar';
}

.encuesta-2 .parte-2 .cinco::before{
    content: 'Solicitar un cambio o devolución de un producto';
}

.encuesta-2 .parte-2 .seis::before{
    content: 'Revisar productos y/o buscar inspiración';
}

.encuesta-2 .parte-2 .siete::before{
    content: 'comparar y/o consultar precio y oferta';
}

.encuesta-2 .parte-2 .ocho::before{
    content: 'Buscar información para ir a una tienda';
}

.contenedor-encuensta form{
    height: 100%;
    width: 100%;
}
.contenedor-encuensta .btn-encuesta{
    display: flex;
    height: 70px;

}
.contenedor-encuensta .btn-encuesta .btn-cerrar-encuesta{
width: 50%;
cursor: pointer;
font-weight: 600;
font-size: 20px;
border: none;
border-top: 1px solid var(--color_frame);
background-color: transparent;
color: var(--color_campo_form);

}
.contenedor-encuensta .btn-encuesta .btn-cerrar-encuesta:hover{
    background-color: rgb(171, 138, 240);
}
.contenedor-encuensta .btn-encuesta .btn-enviar-encuesta{
    width: 50%;
    color:#fff ;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
    background-color: var( --color_menu); 
    
}
.contenedor-encuensta .btn-encuesta .btn-enviar-encuesta:hover{
    background-color: var(--color_menu_hover);
}


/* OPINION PARA LA ENCUESTA */
.encuesta-opinion{
    display: flex;
    left: -140px;
    bottom:-10px;
    position: fixed;
    border-right: 120px solid transparent;
    border-left:120px solid transparent;
    border-bottom:130px solid var(--color_menu_hover);
    cursor: pointer;
    z-index: 1;
}
.encuesta-opinion::before{
    content: 'Danos tu opinión';
    width: 58px;
    position: absolute;
    left: 25px;
    bottom: -100px;
    line-height: 15px;
    color: #BABABA;
   font-size:0.8rem ;
    text-align: center;
    transform: rotatez(46deg);
    cursor:pointer ;
}

    nav{
        position: sticky;
        top: 24px;
        display: block;
        z-index: 2;   
    }

    .menu{
   
        height: 50px;
        background-color:var(--color_menu);   
        box-shadow: inset 0px -10px 10px var(--color_menu_hover);
        display: flex;
        padding: 0 20%;
        text-transform: uppercase;
        z-index: 10;  
    }

    /* MENU*/

    .menu .li-item1,
    .menu .li-item2,
    .menu .li-item3,
    .menu .li-item4,
    .menu .li-item5{ 
        width: 100%;
        /* height: 100%; */
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        
    }
    
    .menu .li-item1 a,
    .menu .li-item2 a,
    .menu .li-item3 a,
    .menu .li-item4 a,
    .menu .li-item5 a{
        height: 100%;
        width: 100%;
        font-weight: 700;
        font-size: 1.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        color:var(--color_font_encabezado) ;
        transition: all 0.3s ease;
    }
    .menu .li-item1 a:hover,
    .menu .li-item2 a:hover,
    .menu .li-item3 a:hover,
    .menu .li-item4 a:hover,
    .menu .li-item5 a:hover{
        background-color: var(--color_menu_hover);
        transform: scaley(1.1);
        box-shadow: 0 0  10px rgb(0,0,0,0.5);
        border-radius: 5px;
        cursor: pointer;
        
    }
         
    /* APLICANDO ESTILOS A LOS SUB-MENU */

    .sub-menu-1,
    .sub-menu-2{
        position: absolute;
        font-family: var(--font_sub_menu);
        background-color:var(--color_font_encabezado);
        width: 250px;
        display: flex;
        flex-direction: column;
        padding: 10px 20px;
        box-shadow: 0 0  10px rgb(0,0,0,0.5);
        line-height: 30px;
        top: 60px;
        visibility: hidden;
        opacity: 0;

    }

    /* FLECHITA */
    .sub-menu-1:before,
    .sub-menu-2:before{
        content: "";
        width: 0;
        height: 0;
        border-right: 12px solid transparent;
        border-left:12px solid transparent;
        border-bottom:12px solid white;
        position: absolute;
        top: -11px;
        left: 80px;
    
    }
    
    .li-item1:hover .sub-menu-1,
    .li-item2:hover .sub-menu-2{
        visibility: visible;
        opacity: 1;
        top: 50px;
        transition: all 0.3s ease;
        
    }
    .li-item1 .sub-menu-1 li a,
    .li-item2 .sub-menu-2 li a{
        display: block;
        color: var(--color_menu);
        font-size: 20px;
        line-height: 35px;
        font-family: var(--font_sub_menu);
    }

    .li-item1 .sub-menu-1 li a:hover,
    .li-item2 .sub-menu-2 li a:hover{
        color: rgb(243, 243, 247);
        background-color: var(--color_menu_hover);
        padding-left: 10px;
        transform: scale(1.2);
        font-size: 20px;
        box-shadow: 0 0 10px black;
        transition: all 0.4s ease;
        padding: 20x 60px;
    }

 /* APLICANDO ESTILOS A LOS SUB-SUB-MENU */

 .li-item1 .sub-menu-1>li,
 .li-item2 .sub-menu-2>li{ 
    position: relative;

 }

.sub-menu-1-2{
    position: absolute;
    width: 260px;
    left: 230px;
    top: -10px;
    padding: 10px 20px;
    background-color: var(--color_font_encabezado);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.51);
    opacity: 0;
    visibility: hidden;
}

.li-item-1-2::before{
    content: "";
    width: 0;
    height: 0;
    left: 215px;
    top:8px;
    border-bottom:10px solid transparent;
    border-top: 10px solid transparent ;
    border-left: 10px solid var(--color_menu);
    position: absolute;
   
}

.li-item-1-2:hover .sub-menu-1-2 {
   opacity: 1;
   visibility: visible;
   transition: all 0.3s ease-in-out;
}
   
}


/* FONDO OSCURO AL INICIAR SESION */
#fondo-inicio{
    background: black;
    
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    opacity: 0;
    width: 0;
    cursor: pointer;
    position: fixed;
}

#fondo-inicio.fondo{
    opacity: 0.5;
    width: 100vw;
    transition: opacity ease-in 0.5s;
}

/* INICIO DE SESION */
#container-sesion-id{
    height: 480px;
    background-color: var(--color_font_encabezado);
    border-radius: 10px;
    z-index: 100;
    position: fixed;
    display:flex;
    transform: translatex(50vw);
    opacity: 0;
    visibility: hidden;
    left: -100vw; 
    max-width: 80vw;
    
}

#container-sesion-id.invisible-sesion{
    width: 32rem; 
    left: -16rem;
    transition: opacity ease-in 0.5s;
    opacity: 1;
    visibility: visible;
    top:calc(50vh - 240px);
   
}
.container-decripcion-sesion{
    position: relative;
    margin:0 40px;
    height: 490px;
    top: 20px;
    width: 100vw;
}
.container-decripcion-sesion .sub-container-1{
    display: flex;
}

.container-decripcion-sesion .sub-container-1 .logo-sesion{
    width: 35%;
    height: 55px;
    font-size: 1.8rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    color: var(--color-logo);
    border-radius: 5px;
    filter: drop-shadow(0px 0px 10px rgb(173, 173, 176));
    box-shadow: inset 0px 0px 5px rgb(248, 245, 245);
}
.container-decripcion-sesion .sub-container-1 .cabecera{
    width: 80%;
    padding-left: 15px;
}
.container-decripcion-sesion .sub-container-1 .cabecera h2{
    font-size: 22px;
    margin-top: 5px;
    color: var(--color_sesion_titulo);
    font-weight: 800;
}
.container-decripcion-sesion .sub-container-1 .cabecera p{
    color: #7A7A7A;
}

.container-decripcion-sesion .sub-container-1 .cierre-inicio-sesion{
    padding-top:2px ;
    cursor: pointer;
}
.container-decripcion-sesion .sub-container-1 .cierre-inicio-sesion img{
width: 25px;
height: 25px;
}

.container-decripcion-sesion .sub-container-2{
    margin-top: 20px;
}

.container-decripcion-sesion .sub-container-2 .email-inicio-sesion{
    margin-bottom: 25px;
}
.container-decripcion-sesion .sub-container-2 .imgMail-campo-inicio-sesion{
    display: flex;
}
.container-decripcion-sesion .sub-container-2 .email-inicio-sesion label,
.container-decripcion-sesion .sub-container-2 .password-inicio-sesion label{
    color: var(--color_sesion_titulo);
    font-weight: 800;
}

.container-decripcion-sesion .sub-container-2 .fa-envelope,
.container-decripcion-sesion .sub-container-2 .fa-key{
    color:rgb(111, 111, 106);
    padding: 15px 0px 0px 0px; 
    font-size: 18px;
 }
.imgMail-campo-inicio-sesion .campoMail-inicio-sesion{
    background-color: transparent;
    border: transparent;
    height: 20px;
    width: 100%;
    outline: transparent;
    border-bottom: 1px solid black;
    color:rgb(39, 37, 37);
    font-family: 'Merriweather', sans-serif;
    font-size: 1.2rem;
    transition: 0.2s linear;
    font-weight: 200;
    margin-left: 10px;
    margin-top:15px;
}
.container-decripcion-sesion .sub-container-2 .password-inicio-sesion{
    margin-bottom:20px;
}
.imgMail-campo-inicio-sesion .campoPassword-sesion{
    background-color: transparent;
    border: transparent;
    height: 20px;
    width: 100%;
    outline: transparent;
    border-bottom: 1px solid black;
    color:rgb(39, 37, 37);
    font-family: 'Merriweather', sans-serif;
    font-size: 1.2rem;
    transition: 0.2s linear;
    font-weight: 200;
    margin-left: 10px;
    margin-top:15px;
}
.container-decripcion-sesion .sub-container-2 .restablecer-password-inicio-sesion{
    font-size: 1rem;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    text-decoration: underline;
    
}
.boton-inicio-sesion button{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    background-color: transparent;
    font-family: 'Playfair Display', serif;
    font-size: 1.7rem;
    transition: all 0.5s ease;
    margin-bottom: 10px;
    cursor: pointer;
    box-shadow: 0px 0px 20px rgb(173, 165, 165);
    color: var(--color_sesion_titulo);
    font-weight: 800;
     
}
.boton-inicio-sesion button:hover {
    animation: movimiento 0.9s ease-in-out infinite alternate;
    box-shadow: inset 0px -10px 20px rgb(173, 165, 165);
    cursor: pointer;
}
.container-decripcion-sesion .sub-container-2 .registrarse{
    text-align: center;
    
}
.container-decripcion-sesion .sub-container-2 .registrarse p{
    margin-bottom: 10px;
    color: var(--color_sesion_titulo);
}
.container-decripcion-sesion .sub-container-2 .registrarse a{
    text-decoration: underline;
} 